---
import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime"; // import plugin
import type { Post } from "../models";

dayjs.extend(relativeTime); // use plugin

export type Props = {
  post: Post;
};

const {
  post: {
    id,
    data: { title, description, tags, publishDate, draft },
  },
} = Astro.props;
---

<li class="relative dark:hover:bg-zinc-800/50 transition rounded-sm duration-500" class:list={[{"bg-amber-500/50": draft}]} >
  <a class="w-full cursor-pointer flex gap-y-2 py-5 px-4" href={`/blog/${id}`} id={id}>
      <div class="grow space-y-3 ">
          <h3 class="font-semibold leading-6 text-xl">
        {title} <span class="text-sm text-gray-500">{dayjs(new Date(publishDate)).fromNow()}</span>
          </h3>
          {description && <p class="mt-1 flex text-sm leading-5 dark:text-gray-300 line-clamp-2">{description}</p>}
        <div class="text-sm leading-6 flex flex-wrap gap-2">
          {
            tags.map((tag) => (
            <span class="rounded-md px-2 py-1 text-xs font-medium text-primary ring-1 ring-inset ring-primary/10 whitespace-nowrap inline-block bg-primary/10" >
                {tag}
              </span>
            ))
          }
        </div>
      </div>
      <div class="flex shrink-0 items-center gap-x-4">
          <svg
            class="h-5 w-5 flex-none text-gray-400"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"></path>
          </svg>
        </div>
    </div>
  </a>
</li>
