---
import Body from "../components/Body.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";

type Props = {
	title?: string;
	description?: string;
	prose?: boolean;
	headings?: { depth: number; slug: string; text: string }[];
	frontmatter?: {
		title: string;
		description?: string;
		toc?: boolean;
	};
};

const { prose = true, frontmatter, headings = [] } = Astro.props;
const toc = frontmatter?.toc === true;

const title = Astro.props.title || frontmatter?.title || SITE_TITLE;
const description =
	Astro.props.description || frontmatter?.description || SITE_DESCRIPTION;
---


<Body title={title} description={description} headings={headings} toc={toc}>
    <main
      class:list={[
        {
          ["prose dark:prose-invert prose-headings:font-serif prose-headings:italic prose-headings:font-normal prose-a:hover:text-primary prose:transition prose-headings:tracking-wide"]:
            prose,
        },
        "px-8 md:px-0",
      ]}
    >
      <article class="flex flex-col items-start justify-center w-full max-w-2xl mb-16">
        {
          title && (
            <h1 class="mt-8 mb-4 text-2xl font-normal tracking-tight md:text-4xl dark:text-white font-serif capitalize">
              {title}
            </h1>
          )
        }
        {description && <p class="mt-2 border-y border-y-zinc-500 w-full py-3">{description}</p>}
        <div class="w-full">
          <slot />
        </div>
      </article>
    </main>
</Body>
